body,
button {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#controls.loading {
  visibility: hidden; /* show when loaded */
}
#myDiv {
  position: relative;
}
#loadingMessage {
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  line-height: calc(82vh);
}
.loading #loadingMessage {
  display: block;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  color: #999;
}
.columnsSelector {
  font-family: Open Sans;
  color: #666;
  width: 200px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
button {
  padding: 0 12px;
  height: 32px;
  color: rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  cursor: pointer;
}
button:focus,
button:active,
button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
input {
  width: 20%;
  padding: 3px 3px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 20px;
}
h2 {
  color: rgb(63, 63, 63);
}
.flexbox {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.flexbox1 {
  display: flex;
  margin: 10px;
  /* flex-direction: column; */
  /* justify-content: flex-start; */
}
